:root {
	--my-color: #26649e;
}

.fieldset {
	border: 1px solid lightgray;
	padding: 10px 20px;
	border-radius: .25rem;
	white-space: nowrap;
}

.legend {
	padding: 0 1.25rem;
	background: var(--my-color);
	color: white;
	font-size: .875rem;
	width: auto;
	border-radius: .3rem;
	float: none;
	line-height: 3;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

body {
	height: 300vh;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
	display: block !important;
}

.form-check-group {
	&__container {
		display: flex;
		input:checked ~ label {
			background: var(--my-color);
			color: white;
		}
		&--binary-radio-layout {
			display: inline-flex;
			width: 10rem;
		}
	}
	&__item {
		flex: 1 1 100%;
	}
	&__label {
		height: 3.125rem;
		background: rgba(0,0,0,.05);
		margin: 0 1px;
		cursor: pointer;
		transition: background .25s ease-in-out;
	}

}

